html, body{
    background-color: #636363;
    color: #23F788;
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    padding:0;
}
a{
    text-decoration: none;
    font-weight: bold;
    border: .3rem solid #23F788;
    box-sizing: border-box;
    border-radius: 2rem;
    color: #23F788;
    padding: .5rem 2rem;
    font-size: 1rem;
    transition: .5s;
    overflow: hidden;
    white-space: nowrap;
    
}
a:hover{
    color: #424242;
    background-color: #23F788;
}
nav{
    padding: .5rem 1rem;
    transition: .5s;
}
.nav{
    position:relative;
    /*border: 1px solid black; */
    background-image: url("assets/Navboarder.png");
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: auto 60%;
    z-index: 1;
    
    margin: auto;
}
nav:hover{
    background-color: #424242;
}
.navbuttons{
    align-content: center;
    text-align: right;
    margin-top: 2.5%;
}
h1{
    font-size: 3.5rem;
    margin: 0.01rem;
    padding: 0.4rem;
    padding-left: 1rem;
    
}
h2{
    font-size: 3rem;
}
.quote{
    margin-top: 40%;
    margin-bottom: 40%;
    font-size: 1rem;
}
.firstquote{
    margin-top: 70%;
    margin-bottom: 50%;
}

.body{
    margin: auto;
    text-align: center;
    width: 70%;
}
/* Moutain animation */

.mountain-container{
    pointer-events: none;
    top: 0;
    left: 0;
    height: 39.61rem;
}
.mtn-img{
    position: absolute;
    
}

.mtn-clouds{
    position: aboslute;
    margin-top: 5%;
}

.sun{
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* TODO: Add animation to sun and its rays */
    animation: sun 1s ease;
}

.sunray{
    opacity: 50%;
    top: 76%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: sunray 1.1s ease;
}
.sunrayoutter
{
    opacity: 50%;
    top: 64%;
    animation: sunrayoutter 1.2s ease;
    left: 50%;
    transform: translate(-50%, -50%);
}

.moon{
    
    top: 30%;
    left: 70%;
    transform: translate(-50%, -50%) rotate(60deg);;
    /* TODO: Add animation to sun and its rays */
    animation: moon 1s ease;
    
}

@keyframes sun{
    0% {top: 100%;}
    100% {top: 80%;}
}
@keyframes sunray{
    0% {top: 100%;}
    100% {top: 76%;}
}
@keyframes sunrayoutter{
    0% {top: 100%;}
    100% {top: 64%;}
}
@keyframes moon{
    0% {top: 0%;}
    100% {top: 30%;}
}
.mountain{
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    top: 12%;
}

.cld1{
    margin-top: 10%;
    left: 20%;
    transform: translate(-50%, -50%);
    animation: cld1 30s linear 0s infinite alternate;
}
.cld2{
    margin-top: 2%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: cld2 40s linear 0s infinite alternate;
}
.cld3{
    margin-top: 6%;
    left: 70%;
    transform: translate(-50%, -50%);
    animation: cld3 60s linear 0s infinite alternate;
}

@keyframes cld1{
    0% {left: 0%;}
    100% {left: 20%;}
}
@keyframes cld2{
    0% {left: 20%;}
    100% {left: 70%;}
}
@keyframes cld3{
    0% {left: 90%;}
    100% {left: 40%;}
    
}
/* Quotes and Clouds */
.cloud{
    position: absolute
    /* TODO: Add animation to Clouds */
}
.clouds .cld2{
    margin-top: -10%;
    left: 80%;
}

.border{
    box-shadow: 9px 10px 7px 1px rgba(0, 0, 0, 0.25);
    background-image: url("assets/bodyboarder.png");
    background-repeat: no-repeat;
}
/* Developer Skills */

.title{
    padding-top: 6%;
    padding-bottom: 0%;
}
.title h2{
    margin: -1%;
}

.developer-skills{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: space-evenly;
    grid-gap: 1.5rem;
    padding: 1.5rem;

}
.developer-skills h3{
    font-size: 2rem;
    
}

.developer-skills > div {
    text-align: center;
    box-shadow: 9px 10px 7px 1px rgba(0, 0, 0, 0.25);
    padding: 1rem;
    background-image: url("assets/divboarder.png");
    transition: .5s;
  }
.developer-skills > div:hover{
    background-color: #424242;
}
  hr{
    width:80%;
    background-color: #23F788;
    display: block;
    height: .1rem;
    border: 0; 
  }

  ul{
      
    text-align: left;
    padding: 0% 10%;
    list-style-type: square;
  }
  
/* Featured Projects */
.featured-projects{
    padding-bottom: .1rem;
}
.featured-projects .img-container{
    background: url(assets/img-background-tl.png) left top no-repeat,
                url(assets/img-background-tr.png) right top no-repeat,
                url(assets/img-background-bl.png) left bottom no-repeat,
                url(assets/img-background-br.png) right bottom no-repeat;
    background-size: 20px, 20px, 20px, 20px;
    padding: .3rem;
}
.img-container img{
    margin: auto;
  display: block;
}
.project{
    background-color: #636363;
    background-image: url("assets/divboarder.png");
    background-repeat: no-repeat;
    box-shadow: 9px 10px 7px 1px rgba(0, 0, 0, 0.25);
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-content: space-evenly;
    grid-gap: 1.5rem;
    content: center;
    margin: 2rem;
    padding: 2rem;
    transition: .5s;
}
.project > div{
    margin: auto;
}
.project img{
    width: 10rem;
    height: 10rem;
    margin: auto;
}
.project p {
    text-align: left;
}
.project img:hover{
    width: 20rem;
    height: 20rem;
    margin: auto;
}
.project:hover {
    background-color: #424242;
  }

/* About Me */

.about-me{
    padding-bottom: 2rem;
}

.accordion {
    background-color: #636363;
    background-image: url("assets/divdropdownboarder.png");
    background-repeat: no-repeat;
    box-shadow: 9px 10px 7px 1px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    color: #23F788;
    padding-bottom: 1.5rem;
    padding-left: 3rem;
    padding-top: 1.6rem;
    margin: .5rem;
    width: 90%;
    border: none;
    text-align: left;
    transition: .5s;
  }
  
  .active, .accordion:hover {
    background-color: #424242;
  }
  
  .panel {
    
    padding: 1rem;
    width: 86%;
    box-shadow: 9px 10px 7px 1px rgba(0, 0, 0, 0.25);
    display: none;
    margin: 0 auto;
    margin-top: -1rem;
    
    /* TODO: Add animation to dropdown */
    transition: .5s;
  }
  
  /* PROJECT PAGE */
