body{
    background-color: #636363;
    color: #23F788;
    font-family: Arial, Helvetica, sans-serif;
    
}
a{
    text-decoration: none;
    font-weight: bold;
    border: .3rem solid #23F788;
    box-sizing: border-box;
    border-radius: 2rem;
    color: #23F788;
    padding: .5rem 2rem;
    font-size: 1rem;
    transition: .5s;
    
}
a:hover{
    color: white;
    background-color: #23F788;
}
.nav{
    position:relative;
    background-image: url("assets/Navboarder.png");
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: auto 60%;
    z-index: 1;
}
.navbuttons{
    align-content: center;
    text-align: right;
    margin-top: 3%;
}
h1{
    font-size: 3.5rem;
    margin: 0.01rem;
    padding: 0.4rem;
    padding-left: 1rem;
    
}
h2{
    font-size: 3rem;
}
.quote{
    margin-top: 40%;
    margin-bottom: 40%;
    font-size: 1rem;
}

.body{
    margin: auto;
    text-align: center;
    width: 70%;
}
/* Moutain animation */

.mountain-container{
    pointer-events: none;
    top: 0;
    left: 0;
    height: 39.61rem;
}
.mtn-img{
    position: absolute;
    
}

.sun{
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* TODO: Add animation to sun and its rays */
}

.sunray{
    opacity: 50%;
    top: 76%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.sunrayoutter
{
    opacity: 50%;
    top: 64%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mountain{
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    top: 12%;
}

.cld1{
    margin-top: 10%;
    left: 20%;
    transform: translate(-50%, -50%);
}
.cld2{
    margin-top: 2%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.cld3{
    margin-top: 6%;
    left: 70%;
    transform: translate(-50%, -50%);
}

/* Quotes and Clouds */
.cloud{
    position: absolute
    /* TODO: Add animation to Clouds */
}
.clouds .cld2{
    margin-top: -10%;
    left: 80%;
}

.border{
    box-shadow: 9px 10px 7px 1px rgba(0, 0, 0, 0.25);
    background-image: url("assets/bodyboarder.png");
    background-repeat: no-repeat;
}
/* Developer Skills */

.title{
    padding-top: 6%;
    padding-bottom: 0%;
}
.title h2{
    margin: -1%;
}

.developer-skills{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: space-evenly;
    grid-gap: 1.5rem;
    padding: 1.5rem;

}
.developer-skills h3{
    font-size: 2rem;
    
}

.developer-skills > div {
    text-align: center;
    box-shadow: 9px 10px 7px 1px rgba(0, 0, 0, 0.25);
    padding: 1rem;
    background-image: url("assets/bodyboarder.png");
  }

  hr{
    width:80%;
    background-color: #23F788;
    display: block;
    height: .1rem;
    border: 0; 
  }

  ul{
      
    text-align: left;
    padding: 0% 10%;
    list-style-type: square;
  }
  
/* Featured Projects */
.featured-projects{
    padding-bottom: .1rem;
}

.project{
    background-color: #636363;
    background-image: url("assets/Navboarder.png");
    background-repeat: no-repeat;
    box-shadow: 9px 10px 7px 1px rgba(0, 0, 0, 0.25);
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-content: space-evenly;
    grid-gap: 1.5rem;
    content: center;
    margin: 2rem;
    padding: 2rem;
    
}
.project > div{
    margin: auto;
}
.project > img{
    width: 10rem;
    margin: auto;
}

/* About Me */

.accordion {
    background-color: #636363;
    background-image: url("assets/Navboarder.png");
    background-repeat: no-repeat;
    box-shadow: 9px 10px 7px 1px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    color: #23F788;
    padding-bottom: 1.5rem;
    padding-left: 3rem;
    padding-top: 1.6rem;
    margin: .5rem;
    width: 90%;
    border: none;
    text-align: left;
    transition: .5s;
  }
  
  .active, .accordion:hover {
    background-color: #424242;
  }
  
  .panel {
    padding: 1rem;
    width: 86%;
    box-shadow: 9px 10px 7px 1px rgba(0, 0, 0, 0.25);
    display: none;
    margin: 0 auto;
    margin-top: -1rem;
    /* TODO: Add animation to dropdown */
    transition: .5s;
  }
